*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	font-family:'Josefin Sans', sans-serif;
}

body{
	background-color: #110026;
	color: ghostwhite;
	margin-left: 10px;
    margin-right: 10px;
    font-family: serif;
}

/*Hiding Scrollbars*/
body::-webkit-scrollbar { 
    display: none; 
}


/* ____________________________________________________ */
/*__________<< HEADER SECTION >> ______________________*/

/*BOODY-HEADER*/
#body-header{
	position: sticky;
	top: 0px;
	background-color: #110026;
	width: 100%;
	z-index: 1;
}

/* ____________________________________________________ */
/*__________<< NAVBAR >> ______________________________*/
/*BRAND-LOGO*/
#logo{
	overflow:auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 4px;
}

/*BRAND-NAME*/
#brand1{
	font-family: fantasy;
	color: ghostwhite;
	margin-right: 25px;
	font-size: 1.2rem;
	font-weight: 500;
}
#brand2{
	font-weight: 600;
	color: ghostwhite;
	font-size: 1rem;
}

/*NAVBAR*/
.navbar a{
	text-decoration: none;
}

.body-header .navbar{
	width: 100%;
	height: 40px;
    display: flex;
    justify-content:space-between;
    flex-warp:wrap;
    align-items:center;
    align-content: stretch;
	flex-warp:wrap;
}

.nav-menu ul{
	display: inline-block;
	align-items:center;
}
.nav-menu ul li{
	margin-right: 2px;
}

.nav-menu li{
	display: inline-block;
	align-items:center;
	flex-direction:row;
	justify-content:flex-start;
	float: left;
}

ul a{
	text-decoration: none;
}

/*NAV-ITEMS*/
#items{
	display: inline-block;
	margin-left: 30px;
}

/*FLEX-START*/
/*BRAND-LOGO*/
#logo{
	overflow:auto;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 4px;
}

/*BRAND-NAME*/
#brand1{
	font-family: fantasy;
	color: ghostwhite;
	margin-right: 25px;
	font-size: 1.2rem;
	font-weight: 500;
}
#brand2{
	font-weight: 600;
	color: ghostwhite;
	font-size: 1rem;
}



/*FLEX-END*/
.flex-end{
	float: left;
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
	align-items:center;
}

/*SEARCHBAR*/
#end{
	display: inline-block;
	/*margin-left: 20px;
	margin-bottom: 20px;*/
	padding: 2px;
	border: 1px solid #110026;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	background: #070c47;
	margin-right: 30px;
}
.searchbar i{
	color: darkgrey;
}
#srch{
	margin-left: 4px;
}
#voice{
	margin-right: 4px;
}
.input-field{
	background: #d4d6c5;
	border: none;
	background-color:#070c47; 
	color: grey;
}


/*FLEX-LAST*/
.last{
	display: flex;
	flex-direction:row;
	justify-content:flex-end;
	align-items:center;
}
/*BELL NOTIFICATION*/
.last i{
	color: grey;
}
.last i:hover{
	color: ghostwhite;
}

/*user profile*/
#logo1{
	overflow:auto;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#user{
	display: inline-block;
	margin-right: 30px;
}

#light{
	background-color: #070c47;
}

/*TRENDING:On Hover Dropdown Menu*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #110026;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* ____________________________________________________ */
/*__________<< BODY HEADER SECTION >> ______________________*/


main {
    width: 75%;
    display: inline-block;
    border:1px solid #070617;
    margin-top: 5px;
}


:root{
	--text-color:red;
}

.container{
	color: var(--text-color);
	padding: 1rem;
	border: 1px solid #110026;

}

.inner-div1{
	--text-color:blue;
	color: var(--text-color);
	padding: 1rem;
	border: 1px solid #110026;
}

.inner-div2{
	color: var(--text-color);
	padding: 1rem;
	margin: 0.2rem;
	border: 1px solid #110026;
}

.inner-div5{
	color: var(--text-color);
	margin-top: 30px;
}

.inner-div3{
	color: var(--text-color);
	padding: 1rem;
	margin: 0.2rem;
	border: 1px solid #110026;
}


.inner-div02{
	color: var(--text-color);
	padding: 2px;
	margin: 0.2rem;
	border-bottom: 2px solid #070c47;
	transition: all 0.4s linear;
}

.inner-div02:hover{

	background: #212129;
	cursor: pointer;
}

/* _____________________________________________________________*/
/*__________<< ARTIST  Slider SECTION >> ______________________*/
/* ____________________________________________________________*/
.content h4{
	color: white;
	font-family: fantasy;
}
#details{
	color: ghostwhite;
	font-size: 0.8rem;
	justify-content:Josefin;
}
.button1{
	background: #8d33a6;
	color: white;
	padding-left: 24px;
	padding-right: 24px;
	border: 2px solid #110026;
	border-radius: 5%;
	text-align: center;
	cursor: pointer;
	margin-right: 50px;
	margin-left: 20px;
	margin-bottom: 4px;
}
.content a{
	text-decoration: none;
	color: white;
}
.content h6{
	color: white;
	font-family: arial;
	font-size: 0.8rem;
}

#rt{
	float: right;
	margin-right: 5px;
}

.box{
	display: flex;
	flex-direction:row;
	flex-warp:wrap;
	justify-content:space-between;
}
.imgBX{
	display: float:left;
}
.content{
	display: float:right;
	margin-top: 40px;
}

/* ____________________________________________________ */
/*__________<< ASIDE Queue SECTION >____________________*/
/* ____________________________________________________ */

aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    width: 22%;
    height: auto;
    position: fixed;
    border: 1px solid #110026;
    margin-top: 5px;
}
aside::-webkit-scrollbar {display: none;}
/*_______________________________________________________*/
/*___________________<<Queue list :both sections>>______*/
/* ____________________________________________________ */
#sec1{
	overflow-y:scroll;
	height:232px; 
}
#sec1::-webkit-scrollbar {display: none;}

#sec2{
	overflow-y:scroll;
	height:330px; 
}
#sec2::-webkit-scrollbar {display: none;}

#fix{
	position: fixed;
}

#headerx{
	position: a;
	background: #110026;
	display: inline-block;
	margin-top: -1.6px;
	overflow: auto;
}

#d-line{
	display: inline;
	float: right;
}

#tsp{
	background: transparent !important;
}

#quex{
	font-size: 0.8rem;
}


#ol-shift{
	list-style: decimal-leading-zero;
	padding-left: 15px;
	padding-right: 30px;
}



.inner-divx{
	padding: 1rem;
	margin: 0.2rem;
}

.flxz{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap
}
#f-divx{
	border: 2px solid #110026;
	display: flex;
	width: 240px;
	margin: 1%;
}

.l-img{
	display: inline;
	border: 1px solid #110026;
}

.l-text{
	display: inline;
}
#t1{
	color: ghostwhite;
	font-size: 0.8rem;
}
#t2{
	color: ghostwhite;
  font-size: 0.6rem;
}

.l-btn{
	flex-direction:flex-end;
	float: right;
}
.center{
	text-align: center;
	color: ghostwhite;
	font-size: 0.8rem;

}
.p-txt{
  color: ghostwhite;
  font-size: 0.6rem;
}

.inner-divx {
	margin-top: 20px;
	
}

#clck{
	transition: all 0.4s linear;
}
#clck:hover{
	background: #212129;
	cursor: pointer;
}

/*BUTTONS*/
.container-box-controls1{
	margin-left: -35px;
	margin-top: 25px;
	overflow: hidden;
}
.container-box-controls1 i{
	color: white;
	font-weight: 700;
}




/*_______________________________________________________*/
/*__<<LATEST Release:used as containers in playlist>>___*/
/* ____________________________________________________ */
.flx{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap
}
#f-div5{
	border: 2px solid #110026;
	display: flex;
	width: 240px;
}

.l-img{
	display: inline;
	border: 1px solid #110026;
}

.l-text{
	display: inline;
}
#t1{
	color: ghostwhite;
	font-size: 0.8rem;
}
#t2{
	color: ghostwhite;
  font-size: 0.6rem;
}

.l-btn{
	flex-direction:flex-end;
	float: right;
}
.center{
	text-align: center;
	color: ghostwhite;
	font-size: 0.8rem;

}
.p-txt{
  color: ghostwhite;
  font-size: 0.6rem;
}

/*Buttons*/

.container-box-controls2{
	margin-left: -45px;
	margin-top: 30px;
	overflow: hidden;
}
.container-box-controls2 i{
	color: white;
	font-weight: 700;
}


/*TOGGLE Button*/
/*_________________________________*/
/*_____________<< BOOTSTRAP TOOGLE>>_________________*/
.dropdown{
	cursor: pointer !important;
	position: relative !important;
	display: inline-block !important; 
}

.dropdown-menu{
  position: absolute !important;
  background-color: #f1f1f1 !important;
  min-width: 130px !important;
  height:auto !important;
  overflow: auto !important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
  z-index: 0 !important;
}
.dropdown-menu a{
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}


.dropdown li:hover{
	background-color: #ddd !important; 
}


/*drop-down lsit style*/
.no-list-style{
    list-style: none;
}
.no-list-style li{
    font-weight: 100;
    font-size: 0.8rem;
    
}
.no-list-style li a{
    list-style: none;
    color: #110026;
    text-decoration: none;
}


#icon{
	margin-right: 5px;
	color: #070c47;
}
#cl{
	color: #110026;
}





/*_______________________________________________________*/
/*____________________<<AUDIO PLAYER>>___________________*/
/* ____________________________________________________ */

/*_________LATEST --> PLAYLIST________*/


.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}
.horizontal-list li a {
    color: white;
    text-decoration: none;
}



/*common Center align class*/
.text-center {
    text-align: center;
}


.no-list-style{
    list-style: none;
}
.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}
.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}

#lft{
	display: flex;
	flex-direction-row;
	justify-content:space-between;
	padding: 20px;
	float: right;
	font-size: 39px;
	vertical-align: middle;
	align-items:center;
}

#time{
	color: ghostwhite;
	margin-left: 30px;
}

#num{
	color: ghostwhite;
	font-size: 1.2rem;
}



/*BUTTONS*/
.container-box-controls5{
	margin-left:40px;
	margin-top:-35px;
	overflow: hidden;
}
.container-box-controls5 i{
	color: white;
	font-weight: 700;
}









/*volume-range*/
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 5px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
}

::-moz-range-track {
    height: 5px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 5px;
    width: 20px;
    border-radius: 0 !important;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: orange;
}

::-ms-thumb { 
    background: #fff;
    height: 5px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 5px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}






 .some-page-wrapper {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.orange-column {
  
  height: 60px;
}

.blue-column {
  height: 60px;

}

.green-column {
 
  height: 60px;
}



























/*-------------------------*/




/*_______________________________________________________*/
/*____________________<<AUDIO PLAYER>>___________________*/





/*_______________________________________________________*/
/*MUSIC PLAYER*/
/*_______________________________________________________*/

/*_______________________________________________________*/
/*____________________<<AUDIO PLAYER>>___________________*/
/*_______________________________________________________*/
.navbar5{
	overflow: hidden;
	background-color:#333; /*#f5f5f5*/
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	z-index: 1;
	margin-left: -10px;
	padding: 2px;
}

audio{
	display: none;
}

#ml5{
	margin-left: 40px;
}

.inner-div029{
	color: ghostwhite;
	padding: 2px;
	margin: 0.2rem;
	transition: all 0.4s linear;
}

#lft{
	display: flex;
	flex-direction-row;
	justify-content:space-between;
	float: right;
	vertical-align: middle;
	align-items:center;
	margin-right: 10px;
}

#time{
	color: ghostwhite;
	margin-left: 0px;
	margin-right: 25px;
}


#num{
	color: ghostwhite;
	font-size: 1.2rem;
}

.l-text{
	display: inline;
}

#mus{
	display: inline;
}

.hvr{
	cursor: pointer;
	transition: all 0.4s linear;
}
.hvr:hover{
	transform:scale(1.1,1.1);
}


.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.horizontal-list li {
    display: inline-block;
}
.horizontal-list li a {
    color: white;
    text-decoration: none;
}


/*volume-range*/
/*________________*/
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 5px;
    width: 100px;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 5px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
}

::-moz-range-track {
    height: 5px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 5px;
    width: 20px;
    border-radius: 0 !important;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: orange;
}

::-ms-thumb { 
    background: #fff;
    height: 5px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 5px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}


/*MAKING IT A FLEX AUDIO BAR*/
.some-page-wrapper {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.orange-column {
  height: 60px;
}

.blue-column {
  height: 60px;
}

.green-column {
  height: 60px;
}




/* ____________________________________________________ */
/*footer*/
/* ____________________________________________________ */

.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}



/* ____________________________________________________ */
/*MEDIA QUERY FOR HIDING ASIDE MENU ON MOBILE DEVICES  */
/*____________________________________________________*/
@media screen and (max-width:550px){
	aside{
		display:none;
	}
	main{
		width:100%;
	}	
	#l3{
		display: none;
	}
	#time{
		display: none;
	}
	#ml5{
		margin-left: 10px;
	}

}

















